.form-container {
    display: flex;
    min-width: 150px;
    max-width: 500px;
    flex-direction: column;
}

.form-container > * {
    width: 100%;
}
.form-card{

    min-width: 400px;
    max-width: 500px;
}
